/* 
    design-hub-3-start
*/
@use '../abstracts/variables' as *;

.wa_ani_image {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        opacity: 0;
        pointer-events: none;
    }
}
.txa-dh-3 {
    &-area {
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    &-item {
        position: relative;
        z-index: 1;
        overflow: hidden;
        padding-top: 177px;
        padding-bottom: 20px;

        .bg-img {
            position: absolute;
            inset: 0;
            overflow: hidden;
            z-index: -1;
        }


        &-wrap {
            display: flex;
            flex-direction: column;
            gap: 43px;
            justify-content: space-between;

            .top-content {
                display: flex;
                justify-content: space-between;


                @media #{$over,$xxxl} {
                    margin-left: -100px;
                    margin-right: -100px;
                }
            }
        }



        &-gallery {
            position: relative;
            z-index: 1;

            @media #{$lg,$md,$xs} {
                display: none;
            }


            .single-img {
                width: 168px;
                height: 168px;
                border-radius: 10px;
                overflow: hidden;
                position: absolute;
	            will-change: transform;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }


            }

            &-svg {
                opacity: 0;
            }
        }


        
        &-list {
            margin-top: -20px;

            li {
                font-size: 18px;
                font-weight: 400;
                color: #02021E;
                padding: 12px 0px;
                padding-left: 30px;
                background-repeat: no-repeat;
                margin-top: -2px;
            }
        }
        
        
        &-content {
            .subtitle {
                font-size: 26px;
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: -1%;
                line-height: 1.153;
                margin-bottom: -30px;
                transition: 600ms var(--cube-1);
                position: relative;
                z-index: 1;

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    margin-bottom: 5px;
                    font-size: 22px;
                }

                span {
                    text-transform: capitalize;
                    color: #FD3F00;

                    &:is(.has-black) {
                        color: #000;
                    }
                }


                a {
                    transition: 600ms var(--cube-1);

                    &:hover {
                        color: #FD3F00;
                        transition-delay: 0s;
                    }
                }


            }

            .title {
                font-size: 353px;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: -5%;
                text-align: center;
                margin-bottom: 0;
                line-height: 1;
                font-weight: 600;
                transition: 600ms var(--cube-1);

                @media #{$xxl} {
                    font-size: 180px;
                }

                @media #{$xl} {
                    font-size: 160px;
                }

                @media #{$lg} {
                    font-size: 140px;
                }

                @media #{$md} {
                    font-size: 120px;
                }

                @media #{$xs} {
                    font-size: 50px;
                }

                @media #{$sm} {
                    font-size: 80px;
                }

                a {
                    display: inline-flex;
                    gap: 13px;

                    .icon {
                        display: inline-flex;
                        align-items: self-start;
                        padding-top: 33px;

                        @media #{$xl} {
                            max-width: 60px;
                        }

                        @media #{$lg} {
                            max-width: 50px;
                        }

                        @media #{$md} {
                            max-width: 40px;
                        }

                        @media #{$xs} {
                            max-width: 20px;
                        }

                        @media #{$sm} {
                            max-width: 30px;
                        }
                    }
                }

            }
        }
        

        &:is(.has-black-bg) {
            .txa-dh-3-item-list li {
                color: #fff;
            }
        }
    }

    &-slider {
        overflow: hidden;
        position: relative;
        z-index: 1;

        .swiper-wrapper {
            .swiper-slide {
                .txa-dh-3-item-list {
                    li {
                        transition: 600ms var(--cube-1);
                        transform: translateX(50px);
                        opacity: 0;
                    }
                }
                .txa-dh-3-item-content {
                    .subtitle {
                        transition: 600ms var(--cube-1);
                        transform: translateY(50px);
                        opacity: 0;
                    }
                    .title {
                        transition: 600ms var(--cube-1);
                        transform: translateY(50px);
                        opacity: 0;
                    }
                }

                .txa-dh-3-item-gallery {
                    opacity: 0;
                    visibility: hidden;
                    transition: 600ms var(--cube-1);
                }

                &:is(.swiper-slide-active) {
                    .txa-dh-3-item-list {
                        li {
                            transform: translateX(0px);
                            opacity: 1;
                            transition-delay: 2s;

                            &:nth-child(2) {
                                transition-delay: 2.2s;
                            }
                            &:nth-child(3) {
                                transition-delay: 2.4s;
                            }
                            &:nth-child(4) {
                                transition-delay: 2.6s;
                            }
                            &:nth-child(5) {
                                transition-delay: 2.8s;
                            }
                        }
                    }

                    .txa-dh-3-item-content {
                        .subtitle {
                            transform: translateY(0px);
                            opacity: 1;
                            transition-delay: 2s;
                        }
                        .title {
                            transform: translateY(0px);
                            opacity: 1;
                            transition-delay: 2.4s;

                        }
                    }

                    .txa-dh-3-item-gallery {
                        opacity: 1;
                        visibility: visible;
                        transition-delay: 2s;
                    }
                }
            }
        }
    }


    &-marquee {
        position: absolute;
        bottom: -7px;
        left: 0;
        width: 100%;
        z-index: 1;

        &-wrap {
            display: flex;

            .single-img {
                flex: 0 0 auto;
            }
        }
    }
}





/* 
    design-hub-3-end
*/