/* 
    price-3-start
*/

.p4-font {
    font-family: "Inter", sans-serif;
}
.txa-price-4 {
    &-area {
        background-color: #02021E;


        .txa-subtitle-4  {
            color: #fff;
            &::after {
                background-color: #02021E;
            }
        }
        
        .txa-sec-title-2 {
            color: #fff;
        }

        .sec-disc {
            color: #fff;
            opacity: 80%;
        }
    }

    &-top {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    &-toggle {
        display: flex;
        align-items: center;
        border-radius: 12px;
        gap: 16px;
        position: relative;
        z-index: 1;

        .bg-shape {
            position: absolute;
            top: -11px;
            left: 12%;
            z-index: -1;
            transition: 600ms var(--cube-1);
        }

        .bg-shape-2 {
            position: absolute;
            top: -11px;
            right: 12%;
            z-index: -1;
            transition: 600ms var(--cube-1);
        }

        &:is(.active) {
            .bg-shape {
                opacity: 0;
            }

            .txa-price-3-toggle-text {
                &:is(.annually) {
                    opacity: 1;
                }
            }
        }

        &:not(.active) {
            .bg-shape-2 {
                opacity: 0;
            }
            .txa-price-3-toggle-text {
                &:is(.monthly) {
                    opacity: 1;
                }
            }
        }

        &-text {
            color: #fff;
            margin-bottom: 0;
            font-size: 22px;
            font-weight: 500;
            line-height: 1.5;
            opacity: 72%;
            transition: 600ms var(--cube-1);
        }

        &-btn {
            width: 75px;
            height: 40px;
            background: linear-gradient(45deg, rgba(119, 0, 239, 0.16) 0%, rgba(230, 0, 254, 0.16) 100%), #0A0A25;
            backdrop-filter: blur(7px);
            border-radius: 50px;
            flex: 0 0 auto;
            position: relative;
            z-index: 1;
            cursor: pointer;

            
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 50px;
                background: linear-gradient(45deg, rgba(119, 0, 239, 0.64) 0%, rgba(230, 0, 254, 0.64) 100%);
                padding: 2px;
                z-index: -1;
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask-composite: exclude;
                inset: -2px;
            }

            &::after {
                content: "";
                position: absolute;
                width: 32px;
                height: 32px;
                background: #FFFFFF;
                box-shadow: inset 0px 0px 6px #8500F1;
                border-radius: 40px;
                top: 4px;
                left: 5px;
                transition: 600ms var(--cube-1);
            }


            .bg-color {
                position: absolute;
                width: 100%;
                height: 100%;
                inset: 0;
                background: linear-gradient(45deg, #7700EF 0%, #E600FE 100%);
                z-index: -1;
                border-radius: 50px;
                opacity: 0;
                transition: 600ms var(--cube-1);
            }

            &:is(.active) {
                &::after {
                    left: 38px;
                }
                .bg-color {
                    opacity: 1;
                }
    
            }

        }


        
    }

    &-toggle-save {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.5;
        color: #6BDF00;
        background: rgba(107, 223, 0, 0.16);
        border: 1px solid rgba(107, 223, 0, 0.36);
        border-radius: 20px;
        padding: 6px 16px;
        margin-bottom: 0;
        margin-right: -135px;
    }


    &-grid {
        display: grid;
        gap: 18px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &-card {
        background: #0A0A25;
        border: 1.5px solid #280265;
        border-radius: 24px;
        padding: 36px 16px;
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            inset: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, rgba(119, 0, 239, 0.4) 0%, rgba(230, 0, 254, 0.4) 100%);
            z-index: -2;
            position: absolute;
            border-radius: 24px;
            opacity: 1;
        }

        .bg-dot {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: -1;
        }

        p,h1,h2,h3,h4,h5,h6,span {
            margin-bottom: 0;
            color: #fff;
        }

        .content-box {
            padding: 36px 20px;
            padding-top: 0;
        }



        .plan-name {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 14px;
        }
        
        .plan-disc {
            font-size: 18px;
            opacity: 80%;
            margin-bottom: 34px;
        }
        
        .plan-price {
            font-size: 52px;
            line-height: 1;
            margin-bottom: 30px;
        }
        
        .price-amount {
            font-weight: 700;
        }
        
        .price-dollar {
            font-weight: 300;
        }
        
        .price-period {
            font-size: 18px;
            opacity: 68%;
        }

        .save-price-box {
            height: 0px;
            overflow: hidden;
            transition: 600ms var(--cube-1);
        }
        
        .dvr-line {
            width: 100%;
            height: 1px;
            background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #0A0A25 100%);
            opacity: 0.48;
        }
        
        .assets-progress {
            margin-top: 32px;
            margin-bottom: 24px;

            &-title {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
                gap: 15px;
                margin-bottom: 12px;

                .title {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: rgb(255 255 255 / 72%);
                    font-size: 15px;
                    line-height: 1.5;
                }

                .count-text {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 1.5;
                }

                .count-total {
                    opacity: 60%;
                    font-weight: 400;
                }
            }

            &-line {
                height: 8px;
                background-color: rgb(255 255 255 / 8%);
                border-radius: 30px;
                overflow: hidden;

                &-bar {
                    background: var(--txa-gd-1);
                    height: 100%;
                    border-radius: 30px;
                }
            }
        }

        .plan-btn {
            text-align: center;
            width: 100%;
            display: block;
            font-weight: 500;
            font-size: 18px;
            color: #fff;
            background: #0A0A25;
            box-shadow: inset 0px -8px 24px rgba(119, 0, 239, 0.65);
            border-radius: 16px;
            padding: 14px 15px;
            position: relative;
            z-index: 1;
            margin-bottom: 32px;
            transition: 600ms var(--cube-1);

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 16px;
                background: linear-gradient(45deg, #7700EF 0%, #E600FE 100%);
                padding: 1px;
                z-index: -1;
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask-composite: exclude;
                inset: 0px;
                transition: 600ms var(--cube-1);
            }

            &:hover {
                background-color: #fff;
                color: #02021E;
                &::before {
                    opacity: 1;
                }
            }
        }

    }
}


/* 
    price-3-end
*/